<h2>By Region</h2>
<hr />
<div class="row">
  <div class="col text-center">
    <button
      *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'text-decoration-underline': selectedRegion === region, 'fw-bold' : selectedRegion === region}"
      (click)="searchRegion(region)"
    >
      {{ region }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <shared-loading-spinner
      *ngIf="isLoading"
      message="Searching"
    ></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
